* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90vw;
  max-width: 1112px;
  margin: auto;
}

.main {
  max-width: 1965px;
}

.main_section {
  position: relative;
  padding: 120px 0px;
}

@media screen and (max-width: 690px) {
  .main_section {
    padding: 30px 0;
  }
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Light';
  src: url("../fonts/AvenirLT-Light.eot");
  src: url("../fonts/AvenirLT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLT-Light.woff") format("woff"), url("../fonts/AvenirLT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Heavy';
  src: url("../fonts/AvenirLT-Heavy.eot");
  src: url("../fonts/AvenirLT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLT-Heavy.woff") format("woff"), url("../fonts/AvenirLT-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
}

h3 {
  margin: 0;
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
}

h4 {
  margin: 0;
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-transform: uppercase;
  color: #000000;
}

.underlined {
  display: block;
  width: 65%;
  height: 3px;
  margin: auto;
  background-color: #083C6E;
}

.underlined_left {
  margin: 0;
}

.underlined_bold {
  height: 6px;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #083C6E;
  border: none;
  border-radius: 0;
  padding: 20px 50px;
  border: solid 2px #083C6E;
}

.button:hover {
  color: #083C6E;
  background-color: #fff;
}

.corner_left_bottom::before {
  content: '';
  width: 154px;
  height: 141px;
  position: absolute;
  background-image: url(../img/corner.svg);
  z-index: -2;
  left: 0;
  bottom: -30px;
}

.corner_right_top::before {
  content: '';
  width: 154px;
  height: 141px;
  position: absolute;
  background-image: url(../img/corner.svg);
  z-index: -2;
  right: 0;
  top: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.invisible {
  display: none !important;
}

.hidden {
  opacity: 0;
}

.anim {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .corner_left_bottom::before {
    display: none;
  }
  .corner_right_top::before {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-size: 45px;
    line-height: 57px;
  }
  h3 {
    font-size: 33px;
    line-height: 40px;
  }
}

@media screen and (max-width: 340px) {
  h2 {
    font-size: 35px;
    line-height: 38px;
  }
  h3 {
    font-size: 23px;
    line-height: 30px;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article_image {
  margin-top: 40px;
  position: relative;
  width: 50%;
}

.article_image::before {
  content: url("../img/dots.svg");
  position: absolute;
  z-index: -1;
}

.article_info {
  width: 50%;
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-top: 40px;
}

.article_info_title__text {
  margin: -10px 0 5px -2px;
}

.article_info__description {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
  margin-bottom: 50px;
  margin-top: 20px;
}

.article_info__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1280px) {
  .article_image::before {
    display: none;
  }
}

@media screen and (max-width: 1035px) {
  .article_image {
    width: 40%;
  }
}

@media screen and (max-width: 840px) {
  .article_image {
    width: 100%;
  }
  .article_info {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .article {
    margin-top: -50px;
  }
}

.header_wrapper {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.header__logo_link {
  width: 131px;
  height: 55px;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_links__link {
  margin-right: 60px;
  color: #083C6E;
}

.header_links__link:hover {
  opacity: 0.3;
}

.header_links__text {
  font-family: 'Poppins Medium';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 720px) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header_links {
    padding: 20px;
    background-color: rgba(21, 34, 66, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_links__link {
    margin-right: 0;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .header_links__link > .underlined {
    background-color: #fff;
  }
  .header_links__link:hover {
    color: #083C6E;
  }
  .header_links__button {
    background-color: #083C6E;
  }
}

@media screen and (max-width: 420px) {
  .header {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_links {
    margin-top: 50px;
  }
  .header__logo_link {
    margin: auto;
  }
}

.hero {
  display: contents;
  position: relative;
}

.hero::before {
  content: url("../img/round.svg");
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.hero__background {
  display: block;
  position: relative;
  float: right;
  z-index: -1;
  max-width: 854px;
}

.hero_form {
  position: absolute;
  top: 40%;
}

.hero_form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_form__title {
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0;
  margin-left: -3px;
}

.hero_form__description {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 23px;
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
}

.hero_form_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.hero_form__input {
  min-width: 100px;
  max-width: 300px;
  height: 100%;
  outline: none;
  border: none;
  background-color: #F1F1F1;
  padding-left: 37px;
  font-size: 16px;
}

.hero_form__button {
  padding: 13px 39px;
  height: 100%;
  margin-left: -5px;
}

.hero_form__button::before {
  content: 'Search';
}

@media screen and (max-width: 1430px) {
  .hero_form__description {
    color: #000000;
  }
}

@media screen and (max-width: 850px) {
  .hero::before {
    opacity: 0;
  }
}

@media screen and (max-width: 690px) {
  .hero_form {
    position: relative;
  }
  .hero_form__description {
    margin: 20px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #B1B6CA;
  }
  .hero_form__title {
    display: inline-block;
    margin-top: 50px;
  }
  .hero_form_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .hero_form_search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 470px) {
  .hero_form__title {
    font-size: 45px;
    line-height: 60px;
  }
  .hero_form__description {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .hero_form__button {
    position: relative;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .hero_form__button::before {
    content: url(/img/icon-search.svg);
    position: absolute;
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 340px) {
  .hero_form__title {
    font-size: 35px;
    line-height: 50px;
  }
}

@media screen and (max-width: 300px) {
  .hero_form__title {
    margin-top: 80px;
  }
}

.kits {
  margin-bottom: 80px;
}

.kits__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.kits_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kits_cards_card {
  position: relative;
  width: 355px;
  margin-top: 20px;
  margin-right: 20px;
}

.kits_cards_card:first-child::before {
  content: url("../img/dots.svg");
  position: absolute;
  z-index: -1;
  top: -125px;
  left: -50px;
}

.kits_cards_card:last-child {
  margin-right: 0;
}

.kits_cards_card:hover {
  opacity: 0.5;
}

.kits_card__img {
  width: 100%;
}

.kits_card__tag {
  position: absolute;
  top: 13px;
  left: 13px;
  text-transform: uppercase;
  padding: 11px 20px;
  color: #ffffff;
  background-color: #083C6E;
}

.kits_card_description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #083C6E;
  color: #ffffff;
}

.kits_card__title {
  padding-left: 13px;
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.kits_card__price {
  margin: 8px;
  padding: 9px 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
}

@media screen and (max-width: 811px) {
  .kits_cards_card:last-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 700px) {
  .kits_cards_card {
    margin-right: 0;
  }
  .kits_cards_card:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 690px) {
  .kits_cards_card:first-child::before {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .kits__title {
    margin-bottom: 15px;
  }
  .kits_card__tag {
    background-color: rgba(8, 60, 110, 0.7);
  }
  .kits_card_description {
    background-color: rgba(8, 60, 110, 0.7);
  }
  .kits_card__title {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 280px) {
  .kits_card__title {
    line-height: 17px;
  }
}

.furniture_image::before {
  bottom: -80px;
  right: -75px;
}

.furniture_info_title {
  max-width: 240px;
}

.video {
  position: relative;
  overflow: hidden;
}

.video__video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.video_placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-height: 447px;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.video_placeholder__sepia {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #152242;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.video_placeholder__img {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}

.video_placeholder__play {
  position: absolute;
  width: 124px;
  height: 124px;
  top: calc(50% - 62px);
  left: calc(50% - 62px);
}

@media screen and (max-width: 400px) {
  .video_placeholder__play {
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
  }
}

.benefits_info {
  margin-bottom: 40px;
}

.benefits_title {
  max-width: 450px;
}

.benefits__title {
  margin-bottom: 10px;
}

.benefits_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 345px;
  margin-top: 20px;
}

.benefits_card_icon {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-right: 16px;
}

.benefits_card__icon {
  padding: 15px;
}

.benefits_card_info {
  max-width: 60%;
}

.benefits_card_info__title {
  font-size: 30px;
  margin-top: 5px;
}

.benefits_card_info__description {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
  margin: 0;
}

@media screen and (max-width: 1180px) {
  .benefits_cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .benefits_info {
    margin-bottom: 20px;
  }
  .benefits_title > .underlined_bold {
    height: 3px;
  }
  .benefits_card_info__title {
    font-size: 25px;
  }
  .benefits_card_info__description {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 340px) {
  .benefits_card_icon {
    width: 60px;
    height: 60px;
  }
  .benefits_card_info__title {
    font-size: 20px;
  }
  .benefits_card_info__description {
    font-size: 13px;
    line-height: 18px;
  }
}

.disk {
  margin: 100px 0;
  margin-bottom: 0;
  max-width: 1050px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*&_info
        margin-top: 100px */
}

.disk_image {
  max-width: 480px;
}

.disk_image::before {
  bottom: 0px;
  left: -105px;
}

.disk_image::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  padding-left: 30px;
  content: '30% OFF';
  background: #083C6E;
  opacity: 0.8;
  border-radius: 0px 0px 200px 0px;
  color: #ffffff;
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-size: 55px;
  line-height: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (max-width: 840px) {
  .disk {
    margin: 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 420px), (min-width: 841px) and (max-width: 1035px) {
  .disk_image::after {
    width: 100px;
    height: 100px;
    padding-left: 10px;
    font-size: 30px;
  }
}

.footer {
  position: relative;
}

.footer_column {
  margin-right: 40px;
}

.footer_column__title {
  font-family: 'Avenir LT Heavy';
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer_column_list {
  list-style: none;
  padding: 0;
}

.footer_column_list__item {
  color: #ffffff;
  font-family: 'Avenir LT Light';
  font-size: 18px;
  line-height: 22px;
}

.footer_column_list__link {
  font-family: 'Avenir LT Light';
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer_column_list__link:hover {
  opacity: 0.8;
}

.footer_column_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 196px;
  margin-top: 50px;
}

.footer_column_social__icon {
  font-size: 24px;
  color: #ffffff;
}

.footer_column_social__icon:hover {
  opacity: 0.8;
}

.footer__underline {
  margin: auto;
  background: rgba(255, 255, 255, 0.15);
  height: 1px;
}

.footer_payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
}

.footer_payments__payment {
  width: 38px;
  height: 24px;
  margin-right: 8px;
}

.footer_payments__payment:last-child {
  margin-right: 0;
}

.footer_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.footer_placeholder {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #152242;
  width: 100%;
  height: 80%;
  z-index: -1;
}

.footer_form {
  background-color: #F8F8F8;
  margin-bottom: 110px;
}

.footer_form_inner {
  max-width: 90%;
  margin: auto;
  padding: 75px 0;
}

.footer_form_title {
  margin: auto;
  max-width: 500px;
}

.footer_form_title__text {
  text-align: center;
  color: #083C6E;
}

.footer_form_title__underlined {
  margin: 10px auto;
  width: 30%;
}

.footer_form__description {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.footer_form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #075DB0;
}

.footer_form_input__input {
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #706464;
  padding: 0 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer_form_input__button {
  margin: 3px;
}

@media screen and (max-width: 800px) {
  .footer_container {
    width: 100%;
  }
  .footer_form {
    margin-bottom: 20px;
  }
  .footer_column:first-child {
    margin-left: 40px;
  }
  .footer_column:last-child {
    margin-right: 0;
  }
  .footer_columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .footer_form_title__text {
    font-size: 35px;
    line-height: 40px;
  }
  .footer_form_input {
    font-size: 13px;
  }
  .footer_form_input__button {
    padding: 15px;
  }
  .footer_form_input__input {
    padding: 0 10px;
  }
  .footer_form_inner {
    padding: 35px 0;
  }
  .footer_column {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .footer_column_social {
    margin: 50px auto;
  }
  .footer_column:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 355px) {
  .footer_form_input {
    font-size: 10px;
  }
  .footer_payments__payment {
    width: 33px;
    height: 19px;
  }
}
/*# sourceMappingURL=style.css.map */