* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90vw;
  max-width: 1112px;
  margin: auto;
}

.main_section {
  position: relative;
  padding: 120px 0px;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik-Regular.eot");
  src: url("/fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik-Regular.woff") format("woff"), url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("/fonts/Poppins-Medium.eot");
  src: url("/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Poppins-Medium.woff") format("woff"), url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url("/fonts/Poppins-SemiBold.eot");
  src: url("/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Poppins-SemiBold.woff") format("woff"), url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
}

h3 {
  margin: 0;
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
}

h4 {
  margin: 0;
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-transform: uppercase;
  color: #000000;
}

.underlined {
  display: block;
  width: 65%;
  height: 3px;
  margin: auto;
  background-color: #083C6E;
}

.underlined_left {
  margin: 0;
}

.underlined_bold {
  height: 6px;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #083C6E;
  border: none;
  border-radius: 0;
  padding: 20px 50px;
}

.corner_left_bottom::before {
  content: '';
  width: 154px;
  height: 141px;
  position: absolute;
  background-image: url(../img/corner.svg);
  z-index: -2;
  left: 0;
  bottom: -30px;
}

.corner_right_top::before {
  content: '';
  width: 154px;
  height: 141px;
  position: absolute;
  background-image: url(../img/corner.svg);
  z-index: -2;
  right: 0;
  top: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.invisible {
  display: none;
}

.hidden {
  opacity: 0;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article_image {
  margin-top: 40px;
  position: relative;
  width: 50%;
}

.article_image::before {
  content: url("../img/dots.svg");
  position: absolute;
  z-index: -1;
}

.article_info {
  width: 50%;
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-top: 40px;
}

.article_info_title__text {
  margin: -10px 0 5px -2px;
}

.article_info__description {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
  margin-bottom: 50px;
  margin-top: 20px;
}

.article_info__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header_wrapper {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.header__logo_link {
  width: 131px;
  height: 55px;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_links__link {
  margin-right: 60px;
}

.header_links__text {
  color: #083C6E;
  font-family: 'Poppins Medium';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.hero {
  position: relative;
}

.hero::before {
  content: url("../img/round.svg");
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.hero__background {
  display: block;
  position: relative;
  z-index: -1;
}

.hero_form {
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_form__title {
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0;
}

.hero_form__description {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 23px;
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
}

.hero_form_search {
  height: 51px;
}

.hero_form__input {
  width: 300px;
  height: 100%;
  outline: none;
  border: none;
  background-color: #F1F1F1;
  padding-left: 37px;
  font-size: 16px;
}

.hero_form__button {
  padding: 13px 39px;
  height: 100%;
  margin-left: -5px;
}

.kits {
  margin-bottom: 80px;
}

.kits__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.kits_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kits_cards_card {
  position: relative;
  width: 355px;
  margin-top: 20px;
  margin-right: 20px;
}

.kits_cards_card:first-child::before {
  content: url("../img/dots.svg");
  position: absolute;
  z-index: -1;
  top: -125px;
  left: -50px;
}

.kits_cards_card:last-child {
  margin-right: 0;
}

.kits_card__img {
  width: 100%;
}

.kits_card__tag {
  position: absolute;
  top: 13px;
  left: 13px;
  text-transform: uppercase;
  padding: 11px 20px;
  color: #ffffff;
  background-color: #083C6E;
}

.kits_card_description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #083C6E;
  color: #ffffff;
}

.kits_card__title {
  padding: 13px;
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.kits_card__price {
  margin: 8px;
  padding: 9px 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
}

.furniture_image::before {
  bottom: -80px;
  right: -75px;
}

.furniture_info_title {
  max-width: 240px;
}

.video {
  position: relative;
}

.video__video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.video_placeholder {
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.video_placeholder__sepia {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #152242;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.video_placeholder__play {
  position: absolute;
  width: 124px;
  height: 124px;
  top: calc(50% - 62px);
  left: calc(50% - 62px);
}

.benefits_info {
  margin-bottom: 40px;
}

.benefits_title {
  max-width: 450px;
}

.benefits__title {
  margin-bottom: 10px;
}

.benefits_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 345px;
  margin-top: 20px;
}

.benefits_card_icon {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-right: 16px;
}

.benefits_card__icon {
  padding: 15px;
}

.benefits_card_info {
  max-width: 60%;
}

.benefits_card_info__title {
  font-size: 30px;
  margin-top: 5px;
}

.benefits_card_info__description {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #B1B6CA;
  margin: 0;
}

.disk {
  margin: 100px 0;
  max-width: 1050px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*&_info
        margin-top: 100px */
}

.disk_image {
  width: 480px;
  margin-right: 80px;
}

.disk_image::before {
  bottom: -105px;
  left: -105px;
}

.disk_image::after {
  position: absolute;
  content: url("../img/disk.png");
  z-index: 2;
  bottom: -100px;
  right: -80px;
}
/*# sourceMappingURL=style.css.map */