@mixin corner
    content: ''
    width: 154px
    height: 141px
    position: absolute
    background-image: url(../img/corner.svg)   
    z-index: -2   

@mixin dots
    content: url('../img/dots.svg')
    position: absolute
    z-index: -1
@mixin round
    content: url('../img/round.svg')
    position: absolute
    z-index: -1

*
    text-decoration: none

img
    width: 100%
    height: auto

h2
    font-family: 'Poppins Semibold'
    font-style: normal
    font-weight: 500
    font-size: 52px
    line-height: 64px
    color: #000000
h3
    margin: 0
    font-family: 'Poppins Semibold'
    font-style: normal
    font-weight: 500
    font-size: 38px
    line-height: 45px  
    color: #000000
h4
    margin: 0
    font-family: 'Poppins Medium'
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 34px
    text-transform: uppercase
    color: #000000

.underlined
    display: block
    width: 65%
    height: 3px
    margin: auto
    background-color: $primary
    &_left
        margin: 0
    &_bold
        height: 6px

.button
    text-transform: uppercase
    color: #ffffff
    background-color: $primary
    border: none
    border-radius: 0
    padding: 20px 50px
    border: solid 2px $primary
    &:hover
        color: $primary
        background-color: #fff


.corner
    &_left_bottom::before
        +corner
        left: 0
        bottom: -30px
    &_right_top::before
        +corner
        right: 0
        top: 0px
        transform: rotate(180deg)

.invisible
    display: none !important
.hidden
    opacity: 0
.anim
    visibility: hidden

@media screen and ( max-width: 1200px)
    .corner
        &_left_bottom::before
            display: none
        &_right_top::before
            display: none
@media screen and ( max-width: 420px)
    h2
        font-size: 45px
        line-height: 57px
    h3
        font-size: 33px
        line-height: 40px 
@media screen and ( max-width: 340px)
    h2
        font-size: 35px
        line-height: 38px
    h3
        font-size: 23px
        line-height: 30px 