*
    text-decoration: none
    
.underlined
    display: block
    width: 65%
    height: 3px
    margin: auto
    background-color: $primary

.button
    text-transform: uppercase
    color: #ffffff
    background-color: $primary
    border: none
    border-radius: 0
    padding: 20px 50px