.disk
    margin: 100px 0
    max-width: 1050px
    align-items: center
    /*&_info
        margin-top: 100px
    &_image
        width: 480px
        margin-right: 80px
        &::before
            bottom: -105px
            left: -105px
        &::after
            position: absolute
            content: url('../img/disk.png')
            z-index: 2
            bottom: -100px
            right: -80px

