.header_wrapper
    position: relative

.header
    position: absolute
    width: 100%
    margin-top: 55px
    display: flex
    align-items: center
    justify-content: space-between
    text-transform: uppercase
    &__logo
        &_link
            width: 131px
            height: 55px
    &_links
        display: flex
        align-items: center
        &__link
            margin-right: 60px
        &__text
            color: $primary
            font-family: 'Poppins Medium'
            font-weight: 600
            font-size: 14px
            line-height: 24px